# --- C Language ---
*.exe
*.out
*.o
*.obj
expenditure.csv  # Prevents your local data logs from being uploaded

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
.pytest_cache/

# --- Web / Frontend ---
.DS_Store
Thumbs.db
node_modules/
.env
dist/
build/

# --- Editor Specific ---
.vscode/
.idea/
*.swp
*.swo
